.card {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  background-color: #bfbbba;
  margin: 20px;
  @include tablet {
    flex-direction: row;
  }
  &__list {
    font-size: 14px;

    @include tablet {
      font-size: 16px;
    }
    @include desktop {
      font-size: 20px;
    }
  }
  &__btn {
    text-align: center;
    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }
}
.element {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include tablet {
    flex-direction: row;
  }
  @include desktop {
  }
}
