.elements {
  margin-top: 20px;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  &__card {
    background-color: #bfbbba;
    border: gold solid 4px;
    border-radius: 5%;
    padding: 5px;

    @include tablet {
      width: 350px;
    }
    &__information {
      font-size: 14px;

      @include tablet {
        font-size: 16px;
      }
      @include tablet {
        font-size: 18px;
      }
      &__btn {
        text-align: center;
      }
    }
  }
}

.save {
  font-weight: bold;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}
