.elements {
  margin: auto;
  @include tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}

.card {
  background-color: #bfbbba;
  border: gold solid 2px;
  width: 250px;
  height: 240px;
  display: flex;
  flex-direction: column;
  text-align: center;

  &__information {
    font-size: 14px;
    text-align: left;
    @include tablet {
      font-size: 16px;
      width: 250px;
      height: 240px;
    }
    @include tablet {
      width: 260px;
      height: 250px;
      font-size: 18px;
    }
  }
}
