.containerCard {
  margin: 20px;
}
.elements {
  margin-top: 20px;
  @include tablet {
    margin: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}

.card {
  background-color: #bfbbba;
  border: gold solid 4px;
  border-radius: 5%;
  padding: 10px;
  text-align: center;
  align-items: center;

  @include tablet {
    width: 350px;
    height: 250px;
  }
  &__information {
    font-size: 14px;
    text-align: left;

    @include tablet {
      font-size: 16px;
    }
    @include tablet {
      font-size: 18px;
    }
  }
  &__btn {
    text-align: center;

    margin-top: 0px;
  }
}
