.elements {
  margin: auto;
  @include tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.card {
  background-color: #bfbbba;
  border: gold solid 2px;

  text-align: center;
  align-items: center;
  justify-content: space-between;
  @include tablet {
    width: 250px;
    height: 240px;
  }
  &__information {
    font-size: 14px;
    text-align: left;

    @include tablet {
      font-size: 16px;
    }
    @include tablet {
      font-size: 18px;
    }
  }
}
.card__btn {
  text-align: center;
}
