.searchPeople {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  &__form {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: justify;
    &__search {
      border: solid 2px gold;
      border-radius: 5px;
      padding: 5px;
    }
  }
}

.btn {
  padding: 3px;
}
