.searchPeople {
  text-align: center;
  background-color: white;
}

.form__search {
  border: solid 2px rgb(0, 204, 255);
  border-radius: 5px;
  padding: 5px;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-around;
}

.btn {
  padding: 3px;
}
