.favorites {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  &__btn {
    font-family: "Noto Sans Mono", monospace;
    background-color: gold;
    font-weight: bold;
    text-align: center;
    align-items: center;
    padding: 5px;
    border: white solid 2px;
    border-radius: 5px;
    @include tablet {
      padding-left: 10px;
      padding-right: 20px;
      font-size: 20px;
      margin-top: 20px;
    }
  }
  &__reset {
    font-family: "Noto Sans Mono", monospace;
    background-color: gold;
    font-weight: bold;
    padding: 5px;
    border: white solid 2px;
    border-radius: 5px;
    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;

    @include tablet {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
    }
    &__cardFav {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: #bfbbba;
      border: gold solid 4px;
      border-radius: 10px;
      @include tablet {
        width: 250px;
        height: 300px;
      }
      &__img {
        @include tablet {
          width: 100px;
        }
      }
    }
  }
}
.details {
  background-color: gold;
  padding: 5px;
  border: #000000 solid 2px;
  border-radius: 5px;
  font-weight: bold;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}
.remove {
  background-color: gold;
  padding: 5px;
  border: #000000 solid 2px;
  border-radius: 5px;
  font-weight: bold;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}
.reset {
  font-size: 14px;

  @include tablet {
    font-size: 18px;
  }
}
