.favorites {
  font-family: "Roboto", sans-serif;

  &__btn {
    font-family: "Noto Sans Mono", monospace;
    background-color: gold;
    font-weight: bold;
    @include tablet {
      padding-left: 10px;
      padding-right: 20px;
      font-size: 18px;
      margin-top: 20px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
    }
    &__cardFav {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: #bfbbba;
      border: gold solid 4px;
      border-radius: 10px;
      @include tablet {
        width: 250px;
        height: 300px;
      }
      &__img {
        @include tablet {
          width: 100px;
        }
      }
    }
  }
}
