.favorites {
  &__btn {
    font-size: 12px;
    background-color: gold;
    font-size: bold;
    padding: 3px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
    &__cardFav {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #bfbbba;
      &__img {
        width: 80px;
        margin-top: 10px;
        @include tablet {
          width: 100px;
        }
        @include desktop {
          font-size: 110x;
        }
      }
    }
  }
}
