.favorites {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__list {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  &__img {
    width: 40px;
    align-items: center;
  }
}
