.searchPeople {
  &__form {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: auto;

    &__search {
      border: solid 4px gold;
      border-radius: 5px;
    }
  }
}
