@import "../stylesheets/Core/reset.scss";
@import "../stylesheets/Core/mixin.scss";
@import "../stylesheets/Components/Characters.scss";
@import "../stylesheets/Components/card.scss";

.container {
  display: flex;
}
