@import "../stylesheets/Core/reset.scss";
@import "../stylesheets/Core/mixin.scss";
@import "../stylesheets/Components/Characters.scss";
@import "../stylesheets/Components/card.scss";
@import "../stylesheets/Components/SavedPeople.scss";
@import "../stylesheets/Components/InformationAbouts.scss";

.header {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tittle {
  font-size: 18px;
  text-align: center;
  @include tablet {
    font-size: 22px;
  }
  @include desktop {
    font-size: 26px;
  }
}

.tittle2 {
  font-size: 16px;
  text-align: center;
  @include tablet {
    font-size: 18px;
  }
  @include desktop {
    font-size: 22px;
  }
}
.tittle3 {
  font-size: 12px;
  text-align: center;
  width: 60px;
  text-align: center;
  @include tablet {
    font-size: 16px;
    width: 100px;
  }
  @include desktop {
    font-size: 20px;
    width: 120px;
  }
}

.main {
  @include tablet {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
  }
}
.hidden {
  display: none;
}
