@import "../stylesheets/Core/reset.scss";
@import "../stylesheets/Core/mixin.scss";
@import "../stylesheets/Core/pages.scss";
@import "../stylesheets/Components/SearchPeople.scss";
@import "../stylesheets/Components/card.scss";
@import "../stylesheets/Components/SavedPeople.scss";
@import "../stylesheets/Components/InformationAbouts.scss";
