.tittle {
  font-size: 30px;
  text-align: center;
  color: gold;
  font-family: "Roboto", sans-serif;
  @include tablet {
    font-size: 34px;
  }
  @include desktop {
    font-size: 38px;
  }
}

.tittle2 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  text-align: center;
  color: gold;

  @include tablet {
    font-size: 30px;
  }
  @include desktop {
    font-size: 34px;
  }
}
.tittle3 {
  font-size: 22px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  @include tablet {
    font-size: 26px;
  }
  @include desktop {
    font-size: 30px;
  }
}

.hidden {
  display: none;
}
.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: justify;
}
.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: justify;

  @include tablet {
    display: flex;
    flex-direction: row;
    align-items: justify;
    text-align: center;
  }
}
