.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: justify;
  margin: auto;
}
.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: auto;
}
.tittle {
  font-size: 30px;
  text-align: center;
  color: gold;
  font-family: "Roboto", sans-serif;
  @include tablet {
    font-size: 34px;
  }
  @include desktop {
    font-size: 38px;
  }
}

.tittle2 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  text-align: center;
  color: gold;

  @include tablet {
    font-size: 30px;
  }
  @include desktop {
    font-size: 34px;
  }
}
.tittle3 {
  font-size: 22px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  @include tablet {
    font-size: 24px;
  }
  @include desktop {
    font-size: 24px;
  }
}

.hidden {
  display: none;
}
.btn {
  padding: 5px;
  border: #000000 solid 2px;
  :hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}
.text {
  margin: auto;
  text-align: center;
  font-size: 14px;
  color: white;
  padding: 10px;
  @include tablet {
    font-size: 16px;
  }
  @include tablet {
    font-size: 18px;
  }
}
