body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-weight: bold;
  // background-color: rgb(10, 9, 9);
  color: grey;
}
* {
  margin: 5px;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.btn {
  background-color: rgb(0, 176, 199);
  color: white;
  border-radius: 5px;
  &:hover {
    font-size: 15px;
    font-weight: bold;
  }
}
