body {
  font-family: "Noto Sans Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-weight: bold;
  background-color: #0d0d0d;
  color: #0d0d0d;
  margin: 10px;
}
* {
  margin: 5px;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.btn {
  background-color: gold;
  color: #0d0d0d;
  border-radius: 5px;
  font-family: "Noto Sans Mono", monospace;
  &:hover {
    font-size: 15px;
    font-weight: bold;
  }
}
